<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<File name="File" fileName="BiNinjaServer.log" >
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%msg%nBiNinjaServer>" />
		</Console>
	</Appenders>
	
	<Loggers>
		<Root level="all">
			<AppenderRef ref="File" />
		</Root>
		<Logger name="de.dk.bininja.server.cli" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
	</Loggers>
</Configuration>